<md-sidenav-container>
  <md-sidenav #sidenav mode="over">Drawer content</md-sidenav>
  <div class="my-content">
    <md-toolbar color="primary">
      <span>Cruscotto HF</span>
      <button md-button (click)="sidenav.open()">
      <i class="material-icons md-18">menu</i>
    </button>

    </md-toolbar>
    <md-tab-group>
      <!-- <md-tab label="Dashboard">
        <md-grid-list cols="2" rowHeight="fit" gutterSize="10px" >
          <md-grid-tile *ngFor="let spaceScreen of spaceScreens; let i = index" [colspan]="spaceScreen.cols" [rowspan]="spaceScreen.rows">
            <md-card>
              <img md-card-image src="{{ spaceScreen.img }}">
              <md-card-content>
                <p>{{ spaceScreen.description }}</p>
              </md-card-content>
              <md-card-actions>
                <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i> LIKE
        </button>
                <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE 
        </button>
              </md-card-actions>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>-->
      <md-tab label="Gallery">
        <app-gallery></app-gallery>
      </md-tab>
      <md-tab label="Settings">
        <app-settings></app-settings>
      </md-tab>
    </md-tab-group>
  </div>
</md-sidenav-container>